.list-group-item  {
    text-align: center;
    width: 400px;
    margin-left: 350px;
    font-size: 1.2rem;
  
}
h1, h2,p {
    text-align: center;
    color: #2E282A; 
  
}
h3{
    text-align: center;
    color: #2E282A; 
    font-family: 'Roboto', sans-serif;
}
.first,.second{
    margin-top: 50px;
} 
h2 {
    margin-top: 250px;
    font-family: 'Roboto', sans-serif;
    
    
}
h1  {
    font-family: 'Roboto', sans-serif;
    
}
p{
    font-size: 1.3rem;
 
}
.title{
    background-color: #F3F3F3;
    padding-top: 20px;
}
.list-group-item:hover{
    background-color: rgba(145, 151, 174, 0.493);
}
 